In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('raw_data.csv')

In [3]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [18]:
# information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

In [34]:
# capitalize the column value
df['person_home_ownership'] = df['person_home_ownership'].str.capitalize()
df['loan_intent'] = df['loan_intent'].str.capitalize()

In [71]:
# unique age values
print(f'''
Age: {df['person_age'].unique()}
Gender: {df['person_gender'].unique()}
Education: {df['person_education'].unique()}
Home Ownership: {df['person_home_ownership'].unique()}
Loan Intent: {df['loan_intent'].unique()}
Loan default: {df['previous_loan_defaults_on_file'].unique()}
''')

Age: [22. 21. 25. 23. 24. 26. 20. 32. 34. 29. 33. 28. 35. 31. 27. 30. 36. 40.
 50. 45. 37. 39. 44. 43. 41. 46. 38. 47. 42. 48. 49. 58. 65. 51. 53. 66.
 61. 54. 57. 59. 62. 60. 55. 52. 64. 70. 78. 69. 56. 73. 63. 94. 80. 84.
 76. 67.]
Gender: ['female' 'male']
Education: ['Master' 'High School' 'Bachelor' 'Associate' 'Doctorate']
Home Ownership: ['Rent' 'Own' 'Mortgage' 'Other']
Loan Intent: ['Personal' 'Education' 'Medical' 'Venture' 'Homeimprovement'
 'Debtconsolidation']
Loan default: ['No' 'Yes']

In [82]:
# remove the age more than 100
df.drop(df[df['person_age'] >= 100].index, inplace=True)

In [83]:
# description of dataframe
df.describe()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,44993.000000,4.499300e+04,44993.000000,44993.000000,44993.000000,44993.000000,44993.000000,44993.000000,44993.000000
mean,27.748428,7.990845e+04,5.394528,9583.176761,11.006448,0.139736,5.866557,632.585713,0.222257
std,5.909737,6.332213e+04,5.927159,6314.802655,2.978985,0.087207,3.877167,50.402411,0.415767
min,20.000000,8.000000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,390.000000,0.000000
25%,24.000000,4.719500e+04,1.000000,5000.000000,8.590000,0.070000,3.000000,601.000000,0.000000
50%,26.000000,6.704600e+04,4.000000,8000.000000,11.010000,0.120000,4.000000,640.000000,0.000000
75%,30.000000,9.577800e+04,8.000000,12237.000000,12.990000,0.190000,8.000000,670.000000,0.000000
max,94.000000,2.448661e+06,76.000000,35000.000000,20.000000,0.660000,30.000000,784.000000,1.000000

In [85]:
# correlation of dataframe
df.corr(numeric_only=True)

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
person_age,1.000000,0.144634,0.952294,0.052080,0.012757,-0.041955,0.878659,0.174648,-0.020545
person_income,0.144634,1.000000,0.134666,0.312441,-0.001361,-0.287149,0.128832,0.025462,-0.169034
person_emp_exp,0.952294,0.134666,1.000000,0.045792,0.016055,-0.038434,0.840146,0.182592,-0.019529
loan_amnt,0.052080,0.312441,0.045792,1.000000,0.146160,0.592972,0.043250,0.009126,0.107725
loan_int_rate,0.012757,-0.001361,0.016055,0.146160,1.000000,0.125322,0.017886,0.011339,0.332046
loan_percent_income,-0.041955,-0.287149,-0.038434,0.592972,0.125322,1.000000,-0.031436,-0.011064,0.384873
cb_person_cred_hist_length,0.878659,0.128832,0.840146,0.043250,0.017886,-0.031436,1.000000,0.154713,-0.014733
credit_score,0.174648,0.025462,0.182592,0.009126,0.011339,-0.011064,0.154713,1.000000,-0.007409
loan_status,-0.020545,-0.169034,-0.019529,0.107725,0.332046,0.384873,-0.014733,-0.007409,1.000000

In [87]:
df.to_csv('clean_data.csv', index=False)