In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/raw_data.csv')

In [3]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [4]:
# information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

In [5]:
# capitalize the column value
df['person_gender'] = df['person_gender'].str.capitalize()
df['person_home_ownership'] = df['person_home_ownership'].str.capitalize()
df['loan_intent'] = df['loan_intent'].str.capitalize()

In [6]:
# unique age values
print(f'''
Age: {df['person_age'].unique()}
Gender: {df['person_gender'].unique()}
Education: {df['person_education'].unique()}
Home Ownership: {df['person_home_ownership'].unique()}
Loan Intent: {df['loan_intent'].unique()}
Loan default: {df['previous_loan_defaults_on_file'].unique()}
''')

Age: [ 22.  21.  25.  23.  24.  26. 144. 123.  20.  32.  34.  29.  33.  28.
  35.  31.  27.  30.  36.  40.  50.  45.  37.  39.  44.  43.  41.  46.
  38.  47.  42.  48.  49.  58.  65.  51.  53.  66.  61.  54.  57.  59.
  62.  60.  55.  52.  64.  70.  78.  69.  56.  73.  63.  94.  80.  84.
  76.  67. 116. 109.]
Gender: ['Female' 'Male']
Education: ['Master' 'High School' 'Bachelor' 'Associate' 'Doctorate']
Home Ownership: ['Rent' 'Own' 'Mortgage' 'Other']
Loan Intent: ['Personal' 'Education' 'Medical' 'Venture' 'Homeimprovement'
 'Debtconsolidation']
Loan default: ['No' 'Yes']

In [7]:
# remove the age more than 100
df.drop(df[df['person_age'] >= 100].index, inplace=True)
# remove the income above 1 million
df.drop(df[df['person_income'] > 1000000].index, inplace=True)

In [8]:
# description of dataframe
df.describe()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,44972.000000,44972.000000,44972.000000,44972.000000,44972.000000,44972.000000,44972.000000,44972.000000,44972.000000
mean,27.740839,79248.002579,5.386841,9581.861069,11.006642,0.139797,5.861870,632.585453,0.222361
std,5.897991,54683.914006,5.914621,6313.435305,2.979262,0.087181,3.870281,50.404405,0.415837
min,20.000000,8000.000000,0.000000,500.000000,5.420000,0.000000,2.000000,390.000000,0.000000
25%,24.000000,47171.750000,1.000000,5000.000000,8.590000,0.070000,3.000000,601.000000,0.000000
50%,26.000000,67040.000000,4.000000,8000.000000,11.010000,0.120000,4.000000,640.000000,0.000000
75%,30.000000,95698.250000,8.000000,12235.500000,13.000000,0.190000,8.000000,670.000000,0.000000
max,94.000000,994605.000000,76.000000,35000.000000,20.000000,0.660000,30.000000,784.000000,1.000000

In [9]:
# correlation of dataframe
df.corr(numeric_only=True)

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
person_age,1.000000,0.132408,0.952104,0.051578,0.012773,-0.040153,0.878227,0.174823,-0.019905
person_income,0.132408,1.000000,0.121129,0.359128,0.000343,-0.314456,0.116357,0.028544,-0.189336
person_emp_exp,0.952104,0.121129,1.000000,0.045207,0.016032,-0.036616,0.839545,0.182771,-0.018881
loan_amnt,0.051578,0.359128,0.045207,1.000000,0.146027,0.593794,0.042709,0.009090,0.107892
loan_int_rate,0.012773,0.000343,0.016032,0.146027,1.000000,0.125287,0.017857,0.011190,0.332080
loan_percent_income,-0.040153,-0.314456,-0.036616,0.593794,0.125287,1.000000,-0.029715,-0.011069,0.384727
cb_person_cred_hist_length,0.878227,0.116357,0.839545,0.042709,0.017857,-0.029715,1.000000,0.154801,-0.014116
credit_score,0.174823,0.028544,0.182771,0.009090,0.011190,-0.011069,0.154801,1.000000,-0.007408
loan_status,-0.019905,-0.189336,-0.018881,0.107892,0.332080,0.384727,-0.014116,-0.007408,1.000000

In [10]:
df.to_csv('data/clean_data.csv', index=False)